<%content_for :sidebar do %>
  <div class="panel rounded-corners">
  <%= render :partial => '/layouts/side_navigation', :locals=>{:active_link => "help"} %>
  </div>
<% end %>

<h2>Help</h2>
<ul>
  <li>
    <p><b>How is the shipping rate calculated?</b></p>
    <p>The application uses Australia Post's API to get real time shipping rate. Rates are based on 4 variables: shipping Origin, shipping destination,
      item weight, item dimension. Please note that Australia Post does not ship parcels heavier than 20KG. </p>
    </li>
  <li>
    <p><b>How do I add a surcharge to shipping fees?</b></p>
    <p>To add a surcharge on top of Australia Post's rate, enter a percentage under surcharge percentage in Setting page.</p>
    
   </li>
   <li>
     <p><b>What are the maximum size and dimension allowed by Australia Post?</b></p>
     <p><a href="http://auspost.com.au/parcels-mail/size-and-weight-guidelines.html" target="_blank">Refer to this guide </a>from Australia Post.</p>
    </li>
  <li>
    <p><b>How do I modify my store theme?</b></p>
    <p>Due to the complexity of theme modification and potential interferes of built-in Shopify shipping features,  we charge a small fee to set up 
      the application for you so that we can make sure everything is configured corrected and your customers enjoy a streamlined checkout experience. </p>
  </li>
  <li>
    <b>Have more questions?</b>
    <p> Visit our support site: <a href="http://support.webifytechnology.com" target="_href">support.webifytechnology.com</a></p>
  </li>
</ul>
