<%content_for :sidebar do %>
  <div class="panel rounded-corners left-panel">
  <%= render :partial => '/layouts/side_navigation', :locals=>{:active_link => "help"} %>
  </div>
<% end %>

<h2>Help</h2>
<ul>
  <li>
    <p><b>How is the shipping rate calculated?</b></p>
    <p>The application uses Australia Post's API to get real time shipping rate. Rates are based on 4 variables: shipping Origin, shipping destination,
      item weight, item dimension. Please note that Australia Post does not ship parcels heavier than 20KG. </p>
  </li>
  <li>
    <p><b>How is rate calculated when I ship multiple items?</b></p>
    <p>We use a simple formula to try to estimate charge for shipping multiple items. Given we do not have insight into how you pack your items and the size of each of your items, calculated cost would be an estimate. Please double check the cost returned when there are 
      multiple items on the cart and confirm rates returned are reasonable.</p>    
  </li>  
  <li>
    <p><b>How do I add a surcharge to shipping fees?</b></p>
    <p>To add a surcharge on top of Australia Post's rate, enter a percentage under surcharge percentage in Setting page. We will apply your surcharge percentage to the shipping rate returned by Australia Post.</p>
    
   </li>
   <li>
     <p><b>What are the maximum size and dimension allowed by Australia Post?</b></p>
     <p><a href="http://auspost.com.au/parcels-mail/size-and-weight-guidelines.html" target="_blank">Refer to this guide </a>from Australia Post.</p>
    </li>
  <li>
    <p><b>How do I modify my store theme?</b></p>
    <p>Due to the complexity of theme modification and potential interference with built-in Shopify shipping features,  we offer to configure the application for your store so that we can make sure everything is configured correctly and your customers enjoy a streamlined checkout experience. </p>
  </li>
  <li>
    <b>Have more questions?</b>
    <p> Visit our support site: <a href="http://support.webifytechnology.com" target="_href">support.webifytechnology.com</a></p>
  </li>
</ul>
