<%content_for :sidebar do %>
  <div class="panel rounded-corners">
  <%= render :partial => '/layouts/side_navigation', :locals=>{:active_link => "help"} %>
  </div>
<% end %>

<h2>Help</h2>
<ul>
  <li>How is rate calculated?</li>
  <li>How do I add a surcharge to shipping fees?</li>
  <li>How do I modify my store theme?</li>
</ul>
