-unless @preference.hide_welcome_note
  %div(class="welcome_note panel cd")
    %p If you have the feature Carrier calculated shipping enabled for your store, you can use this selection.
    %p Carrier calculated shipping is also called Real-time carrier shipping and it allows you to talk to commercial carriers like UPS, Fedex via their API to get rates in real time. This application can behave like such a carrier.
    %p Contact us <a href="mailto:support@webifytechnology.com">support@webifytechnology.com</a> if you are not sure this is right for your store.
    %p #{link_to "Hide this notice.", "/preferences/hide_welcome_note", :remote=>true, :class=>"hide_node"}
    
= render :partial => "/carriers/aus_post_common_form"
