<div class="page-header" id="login-header">
  <h1>Install Australia Post Calculator</h1>
  <h1><small>You need to log into your store before using this application.</small></h1>
</div>

<div style="width:100%; margin:0 auto;">
  <%= form_tag login_path, :class => 'form-search' do %>
    <%= text_field_tag 'shop', nil, :placeholder => 'Shop URL', :class => 'btn-large', :id=>"shop-url-text" %>
    <%= submit_tag 'Install', :class => 'btn btn-primary btn-large' %>
  <% end %>
</div>

