-content_for :sidebar do
  .panel.rounded-corners.left-panel
    = render :partial => '/layouts/side_navigation', :locals=>{:active_link => "setting"}
%h2 Application Setting
%div You can configure how shipping is calculated by changing the settings below

