-content_for :sidebar do
  .panel.rounded-corners.left-panel
    = render :partial => '/layouts/side_navigation', :locals=>{:active_link => "setting"}
%h2 Preferences
= render 'form'

- if Rails.env.development?
  %h2 Console
  = render 'console'
