{% comment %} Version 2 {% endcomment %}
<div id="shipping_product_id" style="display:none">{{shop.metafields.AusPostShipping.product_id}}</div>
<div id="webify-shipping-calculator-info" style="font-size:15px;font-weight:bold;clear:both"></div>
<input type="hidden" name="shipping_variant_id" value="{{ shop.metafields.AusPostShipping.product_id }}" />
<input type="hidden" name="default_shipping_charge" value="{{ shop.metafields.AusPostShipping.default_charge }}" />
