//  non-sass files go in vendor/assetts/stylesheets/application
//  and vendor/assetts/stylesheets/vendor.css does a require_tree  .
//= require vendor
//= require_self

// site/brand specific sass variables go here
@import "base";
// here foundation variables are set to values defined in base
@import "foundation_and_overrides";

// overrides/customizations of vendor libs go here. 
// If possible they should be independent, so this can be left as a blob
 @import "vendor_overrides/**/*";

// styles which build on basic foundation layouts. 
// Should use SMACSS -- if the glob stops working 
// consider that a css code smell
@import "layout/**/*";

// styles which build modules.
// Should use SMACSS -- if the glob stops working 
// consider that a css code smell
@import "module/**/*";


h1 {
 font-size:24px;
}

h2 {
  font-size:18px;
}



form label {
  display:inline;
  float:left;
  width:450px;
  margin-top:8px;
}
form input[type=text] {
  width:190px!important;
}

.panel {
  height:600px;
}

.actions {
  margin-top:70px;
  margin-left:450px;
}

.actions input[type=submit]{
  margin-right:15px;
}

#error_explanation h2 {
  font-size:18px;
}

#error_explanation ul {
  margin-left:30px;
}

#preference_origin_postal_code {
  width:60px!important;
}
#preference_surchange_percentage, #preference_default_weight {
  display:inline;
  width:60px!important;
}

form .postfix {
  display:inline;
  background:#fff!important;
  border:0px!important;
  margin-left:3px;
}
