// background body elements
$background_color_light: #eee;
$text_color_light: #555;

// Typography
$sanserif_font: "PT Sans", "Helvetica", Helvetica, Arial, sans-serif;
$serif_font: "PT Serif", "Georgia", serif;

// brand colors
$brand_dark: #082d49;
$brand_light: #87c229;
