body {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.ego_options {
	margin-left: 15px;
}

.aus_post_options textarea, .ego_options textarea {
	width: 350px;
}

#off_ego_label, #off_aus_label {
	float: none;
	padding-left: 10px;
}

.panel.ego_container, .panel.aus_post_options {
	background: #D6E8F2;
}

.top-bar-section {
	margin: 0 auto;
}


.panel.ego_container table, .panel.aus_post_options table {
	width:100%;
}

.top-bar-section ul {
	margin-right: -2px;
}

.top-bar-section ul li {
	margin-right: 2px;
	a {
		background-color: #555 !important;
		text-transform: uppercase;
		font-size: 11px !important;
		font-weight: normal !important;
		line-height: 38px !important;
	}
	a:hover {
		background-color: #444 !important;
	}
	a.active {
		background-color: #01415D !important;
	}
}
